body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100% !important;
}

.top-nav {

}
.top-nav .nav {
    clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%) !important;
    height: auto;
    justify-content: center !important;
    align-items: center !important;
    width: auto;
    display: flex;
    flex-direction: row;
}
